<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-tittle"><i class="mdi mdi-group"></i> Articulos</h4>
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialog()" ></button> 
                    </ng-template>
            
                    
                </p-toolbar>
                <p-table 
                #listArt
                [value]="listArticulos"
                [rows]="10"
                [paginator]="true"
                responsiveLayout="scroll"
                
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" 
                [showCurrentPageReport]="true">
                >
                <ng-template pTemplate="header">
                    <tr>
                         
                        <th>Articulo</th>
                        <th>Código</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                        <th>Unitario</th> 
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-articulo>
                    <tr>
                       
                        <td>{{articulo.nombre}}</td>
                        <td>{{articulo.codigo}}</td>
                        <td>{{articulo.valor}}</td>
                        <td>{{articulo.categoria}}</td>
                        <td>{{articulo.unitario}}</td>
                        
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"  ></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                        </td>
                    </tr>
                </ng-template>
                

                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="dialognew" [style]="{width: '450px'}" header="Nuevo Articulo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="editform" (submit)="onSubmit()">
            <div class="field">
                <label for="name">Nombre articulo</label>
                <input type="text" pInputText id="name"   autofocus formControlName="nombre"/>
                <small class="p-error"  *ngIf="!this.editform.get('nombre')?.valid">Nombre requerido</small>
            </div>
            <div class="field">
                <label for="codigo">Código</label>
                <input type="text" pInputText id="codigo"     formControlName="codigo"/>
                <small class="p-error"  *ngIf="!this.editform.get('codigo')?.valid">Código requerido</small>
            </div>
             
            <div class="field">
                <label for="unitario">Articulo unitario?</label>                
                <p-dropdown [options]="listUnitario"   optionLabel="name" optionValue="value" [editable]="true" formControlName="unitario">
                 
                </p-dropdown>
            </div>
            <br>
            <hr>
            <div class="field">
                
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success"  type="submit"></button>
            </div>
        </form>
        </ng-template>

</p-dialog>

