
<div class="row">
    <div class="col-md-12">
        <div class="card">
            
             <!--inicio-->
                <div class="">
                    <div class="row">
                        
                        <div class="col-lg-3">
                            <div class="card-body">
                                <h4 class="card-title m-t-10">Generalidades</h4>
                                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading" ></p-progressBar>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="calendar-events">
                                            <div class="calendar-events ui-draggable ui-draggable-handle"     style="position: relative;"   *ngFor="let item of listTipoGeneralidades" (click)="findByTipo(item)" >
                                                <i class="fa fa-circle text-info"></i>{{item.tipo}}  
                                            </div>
                                        </div>
                                        <!--butoon-->
                                        <button   class="btn m-t-10 btn-info btn-block waves-effect waves-light" (click)="openModalGeneralidades()"><i class="ti-plus"></i> Generalidad</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9"> 
                            <div class="row animated fadeIn fast" *ngIf="cargadoReporte">
                                <div class="col-md-12">
                                    <!--tabla-->
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Generalidades</h5>
                                            
                                            <p-table [value]="listGeneralidadesByTipo" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nombre</th>
                                                    <th>Tipo</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-item>
                                                <tr>
                                                    <td>{{item.id_generalidades}}</td>
                                                    <td>{{item.nombre}}</td>
                                                    <td>{{item.tipo}}</td>
                                                    <td> </td>
                                                </tr>
                                            </ng-template>
                                            
                                        </p-table>
                                        </div>
                                    </div>
                                    <!--fin tabla-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             <!--fin-->
                
            
        </div>
    </div>
</div> 
<div class="fondo-modal animated fadeIn fast"
[class.oculto] = "modalFormGeneralidades">
<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1"> <strong>Nueva</strong> Generalidad</h4>
                <button type="button" class="close" (click)="cerrarModalGeneralidades()" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <form [formGroup]="formGeneralidad" (submit)="save()">
                <div class="modal-body">
                   
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Nombre</label>
                            <input type="text" class="form-control" id="recipient-name1" formControlName="nombre">
                        </div>
                        <div class="form-group">
                            <label for="form-clasificacion" class="control-label">Clasificación</label>
                            <select class="form-control custom-select"  formControlName="tipo">
                                <option value="EPP">EPP</option>
                                <option value="EPCC">EPCC</option>
                                <option value="condición física">condición física</option>
                                <option value="Herramientas">Herramientas</option>
                                <option value="Motocicleta">Motocicleta</option>
                                <option value="Vehículo">Vehículo</option>
                            </select>
                        </div>
                         
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="cerrarModalGeneralidades()">Cancelar</button>
                    <button type="submit" class="btn btn-primary"  >Guardar</button>
                </div></form>

        </div>
    </div>
</div>
</div>