<div class="row">
    <div class="col-6">
<app-dona 
        title="Ventas"
        [label] = "labels1"
        [dat] = "data1"
></app-dona>
        
    </div>
    <div class="col-6">
        <app-dona
        title="Estado Clientes"
        [label] = "labels2"
        [dat]   = "data2"
        ></app-dona>
                
            </div>
</div> 

<div class="row">
    <div class="col-6">
<app-dona

title="Recaudo"
[label] = "labels3"
[dat]   = "data3"
></app-dona>
        
    </div>
    <div class="col-6">
        <app-dona
        
        title="Comerciales"
        [label] = "labels4"
        [dat] = "data4"
        ></app-dona>
                
            </div>
</div> 