<div class="row">
    <div class="col-md-12">
        <div class="card" *ngIf="preguntas?.json">
             
            <div class="card-body" *ngFor="let item of preguntas.json">
                <h5 class="card-subtitle">
                    {{item.titulo}}
                </h5>
            <p-table
                [value]="item.preguntas"   
                responsiveLayout="stack">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pre>
                    <tr>
                        <td>
                            {{pre.title}} 
                            <span *ngIf="pre?.hasOwnProperty('Observacion')" class="observacion"> {{pre.Observacion}}</span>
                        </td>
                        <td>
                            <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-success':pre.respuesta==='No'}" icon="pi pi-ban" label="No" (click)="respuesta(pre,'No')" *ngIf="pre?.hasOwnProperty('respuesta')"> </button>
                            <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-danger':pre.respuesta==='Si'}" icon="pi pi-check-circle" label="Si" (click)="respuesta(pre,'Si')" *ngIf="pre?.hasOwnProperty('respuesta')"></button>
                            <button pButton type="button" class="p-button-rounded p-button-sm" icon="pi pi-pencil" label="Observación" (click)="openDialog(pre , item.titulo)" *ngIf="pre?.hasOwnProperty('Observacion')"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p-button label="Siguiente" icon="pi pi-check" iconPos="right" (click)="validar()"></p-button>
    </div>
</div>

<p-dialog header="{{selectedItem?.title}}" [(visible)]="display">
    <div class="row">
        <div class="col-md-12">
            <span class="p-fluid">
                <input   type="text" pInputText [(ngModel)]="observacion"> 
                 
            </span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <p-button label="Agregar" icon="pi pi-check" iconPos="right" (click)="addObservacion()"></p-button>
        </div>
    </div>
</p-dialog>