<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-0">Información de Ticket</h4>
                </div>
                <div class="card-body bg-light">
                  <div class="row text-center">
                    <div class="col-4 my-2 text-start">
                      <span class="badge bg-warning" *ngIf="ticket.estado == 1">Creado</span>
                      <span class="badge bg-danger" *ngIf="ticket.estado == 2">Cerrado</span>
                    </div>
                    <div class="col-8 my-2">{{ticket.created_at}}</div>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="pt-3">Creado por</h5>
                  <span>{{ticket.user}}</span>
                  <h5 class="mt-4">Categoria</h5>
                  <span>{{ticket.name}}</span>
                  <br>
                  <button type="button" class="mt-3 btn waves-effect waves-light btn-success" (click)="updatedEstado()" *ngIf="ticket.estado == 1">
                    Cerrar
                  </button>
                </div>
              </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ticket.titulo}}</h4>
             {{ticket.comentario}}
            </div>
          </div>
          <app-ticket-seguimiento [idTicket]="ticket.id"></app-ticket-seguimiento>
       
    </div>
    
</div>


 