<p-toast position="top-center"></p-toast>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-danger font-18" (click)="back()"><i class="mdi mdi-arrow-left-bold"></i></button>
                     
                </div>
                <h6 class="card-subtitle">Desplegue cada item para seleccionar el preoperacional ,solo elija los elementos que tenga en su poder; <i class="pi pi-ban"></i> en estao malo , <i class="pi pi-check-circle"></i> en estado bueno. 
                En caso que su trabajo no aplique estos elementos, deberá buscar el item "No aplica" y seleccionarlo</h6>
                 
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-12">
        
        <div class="card">
            <div class="card-body"> 
                <p-accordion (onOpen)="onTabOpen($event)">
                    <p-accordionTab header="Inspección de EPP">
                       
                        
                         
                            <div class="card">
                                <div class="card-body">
                                    
                                    <h4 class="card-title"><span class="lstick"></span> Elementos de protección</h4>
                                    <table class="table vm font-14">
                                        <tbody>
                                            <tr *ngFor="let item of listEPP">
                                                <td class="b-0">{{item.nombre}}</td>
                                                <td class="text-right font-medium b-0">
                                                    <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-danger':item.inspeccion === 'Malo'}" icon="pi pi-ban" (click)="buenoMalo(item,'Malo' , 'epp')"> </button>
                                                    <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-success':item.inspeccion === 'Bueno'}" icon="pi pi-check-circle" (click)="buenoMalo(item,'Bueno' , 'epp')"></button>  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                             
            
                        


                    </p-accordionTab>
                    <p-accordionTab header="Inspección de EPCC">
                         
                         
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <h4 class="card-title"><span class="lstick"></span> Elementos de protección contra caidas</h4>
                                        <table class="table vm font-14">
                                            <tbody>
                                                <tr *ngFor="let item of listEPCC">
                                                    <td class="b-0">{{item.nombre}}</td>
                                                    <td class="text-right font-medium b-0">
                                                        <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-danger':item.inspeccion === 'Malo'}" icon="pi pi-ban" (click)="buenoMalo(item,'Malo' , 'epcc')"> </button>
                                                        <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-success':item.inspeccion === 'Bueno'}" icon="pi pi-check-circle" (click)="buenoMalo(item,'Bueno','epcc')"></button>  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        
                        
                    </p-accordionTab>
                    <p-accordionTab header="Inspección de Herramientas">
                           
                        
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"><span class="lstick"></span> Herramientas</h4>
                                       
                                        <table class="table vm font-14">
                                            <tbody>
                                                <tr *ngFor="let item of listHerramienta">
                                                    <td class="b-0">{{item.nombre}}</td>
                                                    <td class="text-right font-medium b-0">
                                                        <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-danger':item.inspeccion === 'Malo'}" icon="pi pi-ban" (click)="buenoMalo(item,'Malo' , 'herramientas')"> </button>
                                                        <button pButton type="button" class="p-button-rounded p-button-sm" [ngClass]="{'p-button-success':item.inspeccion === 'Bueno'}" icon="pi pi-check-circle" (click)="buenoMalo(item,'Bueno' , 'herramientas')"></button>  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                    
                        
                    </p-accordionTab>
                 
                </p-accordion>
            </div>
        </div>
         
        
    </div>
</div> 

 
 
 