<div class="row">
    <div class="col-lg-9">
         
    </div>
    <div class="col-lg-3">
        
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img 				src="./assets/images/icon/staff-w.png" alt="Income"></div>
                        <div class="align-self-center">
                            <h6 class="text-white m-t-10 m-b-0">Total Contratos</h6>
                            <h2 class="m-t-0 text-white">{{cusCantidad}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div> 

<!--
<div class="row">
    <div class="col-md-12">
        <div class="card">
                <div class="row">
                    <div class="col-lg-3">
                        <button class=" " (click)="loadMap()">Cargar Mapa</button>
                    </div>
                    <div class="col-lg-9">
                        <div id="map" style="height: 600px;"></div>
                    </div>
                </div>

        </div>
    </div>
-->
<!--Flat de cargar-->
<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
         <div class="alert alert-info text-center" role="alert">
             <h4 class="alert-heading">Cargando</h4>
             <i class="fa fa-spin fa-refresh fa-2"></i>
             <p class="mb-0">Por favor espere</p>
         </div>
    </div>
</div>
<!--fin cargar-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card-body">
                           <!-- <h4 class="card-title m-t-10">Drag &amp; Drop Event</h4>-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group has-success">
                                            <label class="control-label">Departamento</label>
                                            <select class="form-control custom-select" (change) ="searchMunicipios($event)">
                                                <option value="0">Seleccione..</option>
                                                <option value="85">Casanare</option>
                                                <option value="81">Arauca</option>
                                            </select>
                                            <small class="form-control-feedback"> Seleccione Departamento </small> 
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="selectMunicipio">
                                        <div class="form-group has-success">
                                            <label class="control-label">Municipio</label>
                                            <select class="form-control custom-select" (change) ="searchBarrio($event.target)">
                                                <option value="" >--Seleccione--</option>
                                                 <option *ngFor="let item of municipioList" value="{{item.id_municipio}}">{{item.municipio}}</option>
                                            </select>
                                            <small class="form-control-feedback"> Seleccione Municipio </small> 
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="selectBarrio">
                                        <div class="form-group has-success">
                                            <label class="control-label">Barrio</label>
                                            <select class="form-control custom-select" (change)="getList($event.target)">
                                                 <option  value="">--Seleccione--</option>
                                                 <option *ngFor="let item of barriosList" value="{{item.barrio}}">{{item.barrio}}</option>

                                            </select>
                                            <small class="form-control-feedback"> Seleccione Barrio </small> 
                                        </div>
                                    </div>
                                     
                                    <button [disabled]="btnMap" class="btn m-t-10 btn-info btn-block waves-effect waves-light" (click)="loadMap()">Cargar Mapa</button>
                                     
                                    <!--<a href="#" data-toggle="modal" data-target="#add-new-event" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
                                            <i class="ti-plus"></i> Add New Event
                                        </a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="card-body b-l calender-sidebar">
                            <div id="map" [ngClass]="mapAltura"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                 
                <!--calendario-->
                <div class="p-fluid p-grid formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="range">Elija el rango de fecha, debe seleccionar inicio y fin</label>
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" dateFormat="yy-mm-dd" [showIcon]="true" ></p-calendar>
                                   
                    </div>
                </div>
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <button class="btn btn-danger" (click)="searchByBetween()">Buscar</button>
                    </div>
                </div>
                <!--fincalendario-->
                
            </div>
        </div>
    </div>
</div>

<!--tabla-->
<div class="row animated fadeIn fast" *ngIf="cargandoReporte">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contratos geolocalizados</h4>
                <h6 class="card-subtitle">Lista de contratos de rango elegido</h6>
                
                <!--Tabla inici 
                <div class="table-responsive">
                    <table class="table full-color-table full-primary-table hover-table">
                        <thead>
                            <tr >
                                
                                <th>Contrato</th>
                                <th>Latitud</th>
                                <th>Longitud</th>                                                             
                                <th class="text-nowrap">Creado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tableContratos" >
                                
                                <td>{{item.id_contrato}}</td>
                                <td>{{item.latitud}}</td>
                                <td>{{item.longitud}}</td>
                                <td class="text-nowrap">{{item.created_at}}</td>                                
                            </tr>                             
                        </tbody>
                    </table>
                </div>
              fin tabla-->

                <!--tabla primeng -->
                    <p-table 
                    [value] ="tableContratos"
                    [paginator] = "true"
                    [rows]      =   "10"
                    [showCurrentPageReport] = "true"
                    currentPageReportTemplate ="Mostrando {first} de {last} de {totalRecords} resultados"
                    [rowsPerPageOptions]="[10,25,50]"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button type="button" pButton pRipple icon="pi pi-file-excel"
                            (click)="exportExcel()"
                            class="p-button-success mr-2"
                            pTooltip="XLS"
                            tooltipPosition="bottom"
                            ></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate = "header">
                        <tr>
                                <th>Contrato</th>
                                <th>Latitud</th>
                                <th>Longitud</th>                                                             
                                <th>Creado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                                <td>{{item.id_contrato}}</td>
                                <td>{{item.latitud}}</td>
                                <td>{{item.longitud}}</td>
                                <td>{{item.created_at}}</td>     
                        </tr>
                    </ng-template>
                     
                    </p-table>
               <!--fin--->
            </div>
        </div>
    </div>
</div>
<!--fin-->