<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" id=htmlData>
                <table class="table table-bordered">
                    <tr>
                         <td rowspan="4">
                            <img src="../../../../../assets/images/logoint.jpeg" alt="" width="90px" height="90px">
                         </td>
                         <td rowspan="4"><strong>PERMISOS DE TRABAJO SEGURO EN ALTURAS</strong></td>
                         <td style="font-size: small;">Fecha: 09-03-2018</td>
                    </tr>
                    <tr>
                        <td style="font-size: small;">Versión: 04</td>
                    </tr>
                    <tr>
                                          
                        <td style="font-size: small;">Página 1 de 2</td>
                        
                    </tr>
                    <tr><td style="font-size: small;">Código: F-GHSE-5</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger" (click)="openPDF()"></button>
            </div>
        </div>
    </div>
</div>