<p-toast></p-toast>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo de Pdf</th>
                            <th>Descargar <h5>(de click en el icono <i class="pi pi-cloud-download"></i> para descargar )</h5></th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Permiso de Trabajo</td>
                            <td> <i class="pi pi-cloud-download cursor" (click)="download('permiso')"></i></td> 
                        </tr>
                        <tr>
                            <td>Inspección preoperacional de vehiculo</td>
                            <td><i class="pi pi-cloud-download cursor" (click)="download('preoperacional')"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>