<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-secondary font-18" [routerLink]="['/dashboard/permisoTrabajo']"><i class="mdi mdi-arrow-left-bold"></i></button> 

                    <button type="button" class="btn btn-secondary font-18" (click)="openDialog()"><i class="mdi mdi-plus-box"></i></button>
                    
                    <!--<button type="button" class="btn btn-secondary font-18"><i class="mdi mdi-delete"></i></button> -->
                </div> 
                <!--<button type="button " class="btn btn-secondary m-r-10 m-b-10"><i class="mdi mdi-reload font-18"></i></button>-->
                <!--<div class="btn-group m-b-10" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn m-b-10 btn-secondary font-18 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;"> <a class="dropdown-item" href="#">Mark as all read</a> <a class="dropdown-item" href="#">Dropdown link</a> </div>
                </div>-->
            
            </div>



            <div class="card-body">

                <div class="card b-all shadow-none">
                    <div class="inbox-center table-responsive">
                        <table class="table table-hover no-wrap">
                            <tbody>
                                <tr class="unread cursor" *ngFor="let item of listPermisoVehiculo">
                                     
                                     
                                    <td class="hidden-xs-down bg-success text-white" (click)="editPreoperacion(item)">{{item.vehiculo_placa}}</td>
                                    <td class="max-texts"  >  <span class="label label-info m-r-10">{{item.vehiculo_tipo}}</span>  Tarjeta: {{item.vehiculo_nombre_tarjeta}} </td>
                                    <td><span class="label label-info m-r-10">Conductor</span> {{item.user}}</td>
                                    <td class="hidden-xs-down"><i class="mdi mdi-delete" (click)="delete(item)"></i></td>
                                     
                                </tr>
                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            
            </div>
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading" ></p-progressBar>
            <div class="card-body">               
               <div class="row">
                        <div class="col-md-12">
                            <h4 class="card-title cursor" [ngClass]="classText" *ngFor="let disct of listDict" (click)="addgeneralidad(disct)">                         
                                <span class="lstick"></span>
                                {{disct.item}}
                                
                            </h4>
                        
                        </div>
               </div>
                <div class="row">
                    <div class="col-md-9">
                        <table class="table table-hover no-wrap">
                            <tbody>
                                <tr    *ngFor="let inspeccion of listInspeccion"> 
                                    <td  >{{inspeccion.nombre}}</td>
                                    <td>  
                                        <ng-container *ngIf="inspeccion.inspeccion==null">
                                            <span class="p-buttonset">
                                                <button pButton type="button" label="Malo" icon="pi pi-ban" class="p-button-secondary" (click)="onInspeccion(inspeccion,'Malo')"></button>
                                                 
                                                <button pButton type="button" label="Bueno" icon="pi pi-check-circle" class="p-button-secondary" (click)="onInspeccion(inspeccion,'Bueno')"></button>
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="inspeccion.inspeccion=='Bueno'">
                                            <span class="p-buttonset">
                                                <button pButton type="button" label="Malo" icon="pi pi-ban" class="p-button-secondary" (click)="onInspeccion(inspeccion,'Malo')"></button>
                                                 
                                                <button pButton type="button" label="Bueno" icon="pi pi-check-circle" class="p-button-success" (click)="onInspeccion(inspeccion,'Bueno')"></button>
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="inspeccion.inspeccion=='Malo'">
                                            <span class="p-buttonset">
                                                <button pButton type="button" label="Malo" icon="pi pi-ban" class="p-button-danger" (click)="onInspeccion(inspeccion,'Malo')"></button>
                                                 
                                                <button pButton type="button" label="Bueno" icon="pi pi-check-circle" class="p-button-secondary" (click)="onInspeccion(inspeccion,'Bueno')"></button>
                                            </span>
                                        </ng-container>
                                    
                                    </td>
                                </tr>
                                 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal-->

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Preoperacional vehiculo" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
       
        <form (submit)="onSubmit()">
            <div class="field">
                <label for="name">Placa</label>
                <p-autoComplete   [suggestions]="listVehiculos" (completeMethod)="search($event)" (onSelect)="onChangeSelect($event)" field="concatName" [minLength]="3" ></p-autoComplete>
                 
            </div>
            <div class="field">
                <label for="conductor">Conductor</label>
                <p-autoComplete [suggestions]="listConductor" (completeMethod)="searchConductor($event)" field="user" [minLength]="3" (onSelect)="onChangeCoductor($event)"></p-autoComplete>
            </div>
        </form>
              <br><br>
        <button pButton   label="Guardar" icon="pi pi-check" class="p-button-primary"  (click)="onSubmit()" [disabled]="this.editForm.invalid"></button>
    </ng-template>

    
</p-dialog>

<div class="fondo-modal animated fadeIn fast" [class.oculto] = "modalgeneralidades">

</div>

 