<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recibos de caja de controlmas</h4>
                <h6 class="card-subtitle">Software control+ sincronizado a Merkas SAS</h6>
                <!--calendario-->
                <div class="p-fluid p-grid formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="range">Elija el rango de fecha, debe seleccionar inicio y fin</label>
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" dateFormat="yy-mm-dd" [showIcon]="true" ></p-calendar>
                                   
                    </div>
                </div>
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <button class="btn btn-danger" (click)="getListBetween()">Buscar</button>
                    </div>
                </div>
                <!--fincalendario-->
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargandoReporte">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!--tabla primeng -->
                <p-table 
                [value] ="listRc"
                [paginator] = "true"
                [rows]      =   "10"
                [showCurrentPageReport] = "true"
                currentPageReportTemplate ="Mostrando {first} de {last} de {totalRecords} resultados"
                [rowsPerPageOptions]="[10,25,50]"
                >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button type="button" pButton pRipple icon="pi pi-file-excel"
                        
                        class="p-button-success mr-2"
                        pTooltip="XLS"
                        tooltipPosition="bottom"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate = "header">
                    <tr>
                            <th>Id</th>
                            <th>Id servicio + Rc</th>
                            <th>Rc</th>                                                             
                            <th>Valor</th>
                            <th>celular</th>
                            <th>Estado</th>
                            <th>Log</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.id_servicio_rc}}</td>
                            <td>{{item.rc}}</td>
                            <td>{{item.valor}}</td>     
                            <td>{{item.celular}}</td>   
                            <td>{{item.estado}}</td>   
                            <td>{{item.log}}</td>   
                    </tr>
                </ng-template>
                 
                </p-table>
           <!--fin--->
            </div>
        </div>
    </div>
</div>

<div class="fondo-modal animated fadeIn fast"
    [class.oculto] = "modalCargando">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
   </div>
</div>