<div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body" *ngIf="formMail">
            <form class="form-horizontal form-material" id="loginform"  [formGroup]="editRecovery" (submit)="onSubmit()">
                <h3 class="box-title m-b-20">Recuperar Contraseña</h3>
               
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Correo" formControlName="email">
                        <div class="form-control-feedback" style="color: #ef5350;">{{msmCorreo}}</div>
                    </div>
                </div>
                <div class="form-group text-center p-b-10">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" [disabled]="this.editRecovery.invalid" type="submit">Recuperar <i class="fa fa-spin fa-spinner" *ngIf="validando"></i></button>
                    </div>
                     
                </div>
                <a  [routerLink]="['/login']" id="to-recover" class="text-dark pull-right"><i class="fa fa-user-circle-o"></i> Iniciar Sesión?</a>  
            </form>
        </div>
        <div class="card-body" *ngIf="formToken">
            <form class="form-horizontal form-material" id="loginform"  [formGroup]="editToken" (submit)="onToken()">
                <h3 class="box-title m-b-20">Validar Token</h3>
               
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="token" formControlName="token" (keyup)="onChangesMail()">
                        <div class="form-control-feedback" style="color: #ef5350;">{{msmToken}}</div>
                    </div>
                </div>
                <div class="form-group text-center p-b-10">
                    <div class="col-xs-12">
                        <button class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="this.editToken.invalid">Validar Token <i class="fa fa-spin fa-spinner" *ngIf="validando"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!--form de pass-->
        <div class="card-body" *ngIf="formPass">
            <form class="form-horizontal form-material" id="loginform"  [formGroup]="editPass" (submit)="onPass()">
                <h3 class="box-title m-b-20">Nueva Contraseña</h3>
               
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="nueva contraseña" formControlName="password" >
                        <div class="form-control-feedback" [ngClass]="this.editPass.controls['password'].hasError('required') || this.editPass.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'" >¡Minimo 8 caracteres!</div>
                        <div class="form-control-feedback" [ngClass]="this.editPass.controls['password'].hasError('required') || this.editPass.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'" >¡número!</div>
                        <div class="form-control-feedback" [ngClass]="this.editPass.controls['password'].hasError('required') || this.editPass.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'" >¡Mayúscula!</div>
                        <div class="form-control-feedback" [ngClass]="this.editPass.controls['password'].hasError('required') || this.editPass.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'" >¡Minuscula!</div>
                        <div class="form-control-feedback" [ngClass]="this.editPass.controls['password'].hasError('required') || this.editPass.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'" >¡Caracter especial @#$%!</div>
                 </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="confirmar contraseña" formControlName="confirmPass">
                        <div class="form-control-feedback text-danger" *ngIf="this.editPass.controls['confirmPass'].hasError('NoPassswordMatch')">¡No coindice las contraseñas!</div>
                    </div>
                </div>
                <div class="form-group text-center p-b-10">
                    <div class="col-xs-12">
                        <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="this.editPass.invalid">Guardar <i class="fa fa-spin fa-spinner" *ngIf="validando"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <!---->
    </div>
</div>