
  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Ticket seguimiento</h4>
        <ul class="list-unstyled mt-5">
          <li class="d-flex align-items-start" *ngFor="let item of seguimiento">
            <!--<img class="me-3 rounded" src="../../assets/images/users/2.jpg" width="60" alt="Generic placeholder image">-->
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{item.user}}</h5>  
              <span class="badge bg-danger">{{item.fecha}}</span>
               {{item.comentario}}
            </div>
          </li>
          <hr> 
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <div class="p-fluid">
        <textarea rows="3" cols="30" pInputTextarea [autoResize]="true" [(ngModel)]="text"></textarea>
      </div>
      <div class="p-field">
        <p-button label="Comentar" icon="pi pi-check" iconPos="right" (onClick)="validate()" [disabled]="!text.length"></p-button>
      </div>
    </div>
</div>

 