<p-toast ></p-toast> 

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario..."
                (keyup)="findByName(txtTermino.value)"
                #txtTermino

                />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
         <div class="alert alert-info text-center" role="alert">
             <h4 class="alert-heading">Cargando</h4>
             <i class="fa fa-spin fa-refresh fa-2"></i>
             <p class="mb-0">Por favor espere</p>
         </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios({{total}}) - {{desde}}</h4>
                <h6 class="card-subtitle">Usuarios registrados</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Role</th>
                                <th>Estado</th>
                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor ="let usuario of listUsuario">
                                <td class="text-center"><img [src]="usuario.imagenUrl" alt="" class="w100 avatar" /> </td>
                                <td><div class="cursor" (click)="editUSer(usuario)">{{usuario.email}}</div></td>
                                <td>{{usuario.user}}</td>
                                <td>
                                    <select class="form-control" [(ngModel)]="usuario.role"
                                    (change) ="cambiarRole(usuario)"
                                    >
                                    <option  *ngFor="let item of optionsRole" value="{{item.role}}">{{item.role}}</option>
                                    </select>
                                </td>
                                <td>
                                    <div *ngIf="usuario.active; else Desactivado">
                                        <span class="label label-success" (click) ="changeActive(usuario)">Activado</span>
                                    </div>
                                    <ng-template #Desactivado>
                                        <span class="label label-danger" (click) ="changeActive(usuario)">Desactivado</span>
                                    </ng-template>
                                </td>
                                <td class="text-nowrap text-center">
                                    <button 
                                    pButton pRipple 
                                    (click)="selected(usuario)"
                                    icon="pi pi-pencil" 
                                    class="p-button-rounded p-button-success mr-2" 
                                    >
                                </button>
                    
                                <button pButton pRipple icon="pi pi-trash" 
                                *ngIf="authService.usuario.role =='ADMIN_ADMIN'"
                                class="p-button-rounded p-button-warning" 
                                (click) = "deleteUsuario(usuario)"></button>
                
                                </td>
                            </tr>
                             
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-container *ngIf="activateEdit">
    <app-datos-personales
    [usuario]="seletedUser">
</app-datos-personales>
</ng-container>


<!--EditUSer-->
<p-dialog position="top" [(visible)]="dialogEdit" header="Editar usuario" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" *ngIf="userSelectedDialog!">
                    <div class="form-group">
                        <label for="email">Correo electronico</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="userSelectedDialog.email" required autofocus />
                        <small class="p-error">Campo Requerido</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="userSelectedDialog.password" />

                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary float-right"  (click)="actualizarUser()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>