<div class="row">
   
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="mdi mdi-upload"></i> Cargue de Archivos .xlsx</h4>
                <h6 class="card-subtitle">Los archivos permitidos son los enviados desde CODESA</h6>
                 
                    <div class="p-fluid grid formgrid">
                        <div class="field col-12 md:col-4">
                            <label for="basic">Fecha de Reporte</label>
                            <p-calendar inputId="basic" [(ngModel)]="dateValue"  ></p-calendar>
                        </div>
                        <br>
                        <div class="field col-12 md:col-4">
                           <!-- <p-fileUpload name="demo[]"  (onUpload)="onUpload($event)" chooseLabel="Seleccionar" uploadLabel="Cargar" cancelLabel="cancelar
                            " (onBeforeUpload) = "onBeforeUpload($event)"
                                 [maxFileSize]="1000000">
                                <ng-template pTemplate="content">
                                     <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                        </p-fileUpload> -->
                        <p-fileUpload name="myfile[]" 
                        [customUpload]="true" 
                        chooseLabel="Seleccionar" 
                        uploadLabel="Cargar" 
                        cancelLabel="cancelar"
                        (uploadHandler)="myUploader($event.files[0])"
                        ></p-fileUpload>
                        </div>
                       

                    </div>
                    
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="mdi mdi-file-excel"></i> Últimos 5 archivos cargados al sistema</h4>
                <h6 class="card-subtitle">Listado de los últimos archivos de CODESA cargados a hannilPro para cargue a controlmas de pagos de supergiros</h6>
                <!--tabla de la lista de 5 archivos-->
                    <p-table [value]="listFiles">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Fecha archivo</th>
                                <th>Fecha cargue</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{item.id}}</td>
                                <td><a href="https://apps.internetinalambrico.com.co/Files/Supergiros/{{item.titulo}}">{{item.titulo}}</a></td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.created_at}}</td>
                                <td><div *ngIf="item.estado; else desactivado">
                                    <span class="label label-success">Cargado</span>
                                </div>
                                <ng-template #desactivado>
                                    <span class="label label-danger">Sin cargar</span>
                                </ng-template>
                                
                            </td>
                                <td class="text-center"><i class="mdi mdi-open-in-app" (click)="sincronizarFileDataBase(item)"></i> <i class="mdi mdi-delete"></i></td>
                            </tr>
                        </ng-template>
                        
                    </p-table>
                <!--end-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><i class="mdi mdi-file-find"></i> Buscar pagos cargados</h4>
                <h6 class="card-subtitle">Busqueda del rango de fechas de los pagos ingresados al servidor de Intinalambrico</h6>
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="range">Rango Fechas</label>
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                  
                    </div>
                </div>
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-12 p-md-4">
                        <button class="btn btn-danger" (click)="searchByBetween()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargandoReporte">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!--tabla primeng -->
                <p-table 
                [value] ="listPagos"
                [paginator] = "true"
                [rows]      =   "10"
                [showCurrentPageReport] = "true"
                currentPageReportTemplate ="Mostrando {first} de {last} de {totalRecords} resultados"
                [rowsPerPageOptions]="[10,25,50]"
                >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button type="button" pButton pRipple icon="pi pi-file-excel"
                        
                        class="p-button-success mr-2"
                        pTooltip="XLS"
                        tooltipPosition="bottom"
                        ></button>
                    </div>
                </ng-template>
                <ng-template pTemplate = "header">
                    <tr> 
                            <th>Fecha</th>
                            <th>Hora</th>                                                             
                            <th>Transacción</th>
                            <th>Cédula</th>
                            <th>Cliente</th>
                            <th>Nombre Convenio</th>
                            <th>valor</th>
                            <th>Referencia</th>
                            <th>Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr> 
                            <td>{{item.fecha_recaudo}}</td>
                            <td>{{item.hora_recaudo}}</td>
                            <td>{{item.id_transaccion}}</td>     
                            <td>{{item.cc_cliente}}</td>   
                            <td>{{item.nombre_cliente}}</td>   
                            <td>{{item.nombre_convenio}}</td>
                            <td>{{item.valor_total}}</td>
                            <td>{{item.numero_referencia}}</td>
                            <td>{{item.estado_descargue}}</td>   
                    </tr>
                </ng-template>
                 
                </p-table>
           <!--fin--->
            </div>
        </div>
    </div>
</div> 









 