<div class="card">
    <p-toolbar>

        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialog()"></button>
        </ng-template>


    </p-toolbar>
    <p-table
        #detalle
        [value]="listDetalle"
        [rows] = "10"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" [showCurrentPageReport]="true"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>Articulo</th>
            <th>Cantidad</th>
            <th>Valor compra</th>
            <th>Valor venta</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.articulo_nombre}}</td>
            <td>{{item.ingreso_detalle_cantidad}}</td>
            <td>{{item.compra | currency: 'USD' | lowercase}}</td>
            <td>{{item.venta | currency: 'USD' | lowercase}}</td>
            <td>  
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(item)" ></button></td>
        </tr>

    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan="2" class="text-right">Total</td>
            <td>{{totalCompra | currency: 'USD'}}</td>
            <td>{{totalVenta | currency: 'USD'}}</td>
            <td></td>
        </tr>
    </ng-template>
    
    
    </p-table>
</div>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Detalle ingreso" [modal]="true"  styleClass="p-fluid">
    <ng-template pTemplate="content">
        <br>
    <form [formGroup]="formDetalle" (submit)="onSubmit()">
        <div class="field">
            <span class="p-fluid">
                <label for="autocomplete">Buscar Articulo</label>
                <p-autoComplete inputId="autocomplete"  [suggestions]="listArticulo" (completeMethod)="searchArticuloByName($event)" field="articulo_nombre" [minLength]="3" (onSelect)="onChangeSelect($event)"></p-autoComplete>
                
            </span>
        </div>

         <div class="field">
            <label for="cantidad">Cantidad</label>
            <p-inputNumber id="cantidad"     formControlName="ingreso_detalle_cantidad"></p-inputNumber>
         </div>
            <div class="field">
                <label for="compra">Valor Compra</label>
                <p-inputNumber id="compra"   mode="currency" currency="USD" locale="en-US"  formControlName="ingreso_detalle_compra"></p-inputNumber>
            </div>
            <div class="field">
                <label for="venta">Valor venta</label>
                <p-inputNumber id="venta" currency="USD" mode="currency" locale="en-US" formControlName="ingreso_detalle_venta"></p-inputNumber>
            </div>
            <hr>
            <div class="field">
                
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-success"  type="submit"></button>
            </div>
        
            </form>
    </ng-template>

</p-dialog>