<p-toast></p-toast>
<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                 
                    <button type="button" class="btn btn-danger m-r-10 m-b-10" (click)="back()"><i class="mdi mdi-arrow-left-bold"></i></button>
                    
                    <button type="button" class="btn btn-primary m-r-10 m-b-10" (click)="openModalEmpleados()"><i class="mdi mdi-plus-box"></i></button>
                 
                <h6 class="card-subtitle">Usar <i class="mdi mdi-arrow-left-bold"></i> para regresar , <i class="mdi mdi-plus-box"></i> para agregar nuevo integrante a su permiso de trabajo</h6>
                <!--tabla de empleados-->
           <p-table 
           [value]="listEmpleadoPermiso" 
           [loading]="loading"
           >
            
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th> 
                    <th>Correo</th> 
                    <th>Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td> {{empleado.user}}</td> 
                    <td> {{empleado.email}}</td>
                    <td> <i class="mdi mdi-delete cursor" (click)="deletePermisoEmpleado(empleado)"></i> </td>
                </tr>
            </ng-template>
           </p-table>
           <!--empleados-->
            </div>
        </div>
    </div>
</div>



<!--modal cargar empleados-->
<div class="fondo-modal animated fadeIn fast" [class.oculto] = "modalEmpleados">
    <div class="modal fade none-border  show" id="add-new-event" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Asociar</strong> Empleado</h4>
                    <button type="button" class="close"  (click)="cerrarModalEmpleado()" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                   <form [formGroup]="formEmpleado">
                    <span class="p-fluid">
                        <p-autoComplete   
                         [suggestions]="listEmpleados" 
                         (completeMethod)="findEmpleadoQuery($event)" 
                         field="user" [minLength]="3" 
                         formControlName="empleado"
                         (onSelect)="seleccionarEmpleado()"
                         ></p-autoComplete></span>
                   </form>
                    <!--<p-table
                        #dt1
                        [value] ="listEmpleados"
                        dataKey="id"
                        [loading]="loading"
                        [paginator]="true"
                        [rows] = "10"
                        responsiveLayout="scroll"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Motrando {first} de {last} {totalRecords} Resultados"
                        [rowsPerPageOptions]="[10,25]" 
                        styleClass="p-datatable-gridlines" 
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="Limpiar Filtros" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)" ></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                             
                            <th>
                                Nombre Empleado
                            </th>  
                        </tr>
                        <tr>
                            <th>
                                <p-columnFilter type="text" field="user"></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-empleado>
                        <tr>
                            
                            <td  (click)="seleccionarEmpleado(empleado)" class="cursor">{{empleado.user}}</td> 
                        </tr>
                    </ng-template>
                                      

                    </p-table>-->
                </div>
            </div>
        </div>
    </div>
</div>