 <p-toast position="center"></p-toast>
<div class="row">
    <div class="col-md-6">
        <div class="card fadeInDown animated ">
            <div class="card-body">
                
                    <button type="button" class="btn btn-danger m-r-10 m-b-10 font-18" (click)="back()"><i class="mdi mdi-arrow-left-bold"></i></button>
                    <button type="button" class="btn btn-warning m-r-10 m-b-10" (click)="actualizar()" ><i class="mdi mdi-refresh"></i></button>
                
                    <!--<button type="button" class="btn btn-secondary font-18"  ><i class="mdi mdi-plus-box"></i></button>-->
                
                <div class="card-body" *ngIf="permiso">
                    <table class="table vm font-14">
                        <tbody><tr>
                            <td class="b-0">Permiso de Trabajo</td>
                            <td class="text-right font-medium b-0">{{permiso.prefijo}} #{{permiso.indicativo}}</td>
                        </tr>
                        <tr>
                            <td>Fecha Creación</td>
                            <td class="text-right font-medium">{{permiso.fecha_inicio}} - {{permiso.hora_inicio}}</td>
                        </tr>
                        <tr>
                            <td>Lugar de Trabajo</td>
                            <td class="text-right font-medium">{{permiso.lugar_de_trabajo}}</td>
                        </tr>
                   
                    </tbody></table>
                </div>
            </div>
        </div>
        <div class="card fadeInDown animated">
            <div class="card-body">
                <h4 class="card-title">Información Para firmar</h4>
                <h6 class="card-subtitle">Valide la información antes de firmar electrónicamente, ya que una vez firmada si realiza un cambio
                    la firma se invalida.
                </h6>
                
                <p-accordion *ngFor ="let empleado of infoPermiso">
                    <p-accordionTab  header="Generalidades">
                        <div class="to-do-widget m-t-20">
                            <ul class="list-task todo-list list-group m-b-0">
                                <li class="list-group-item" *ngFor = "let preoperacional of empleado.generalidades">
                                    <div class="checkbox checkbox-info">
                                         
                                        <label   class=""> <span>{{preoperacional.nombre}}</span> 
                                            <span class="label label-rounded   pull-right" [ngClass]="{'label-success': preoperacional.inspeccion ==='Bueno', 'label-danger':preoperacional.inspeccion !=='Bueno'}">{{preoperacional.tipo}}</span></label>
                                    </div> 
                                </li>
                            </ul>
                        </div>
                    </p-accordionTab>   
                   <p-accordionTab header="Peligros" *ngIf="empleado.peligros">
                    <ul>
                        <li *ngFor="let item of empleado.peligros">
                            {{item.nombre}}
                            
                            <ul>
                                <li *ngFor="let control of item.controles">
                                  {{control.nombre}}
                                </li>
                            </ul>
                        </li>
                   </ul>
                    </p-accordionTab>
                    <p-accordionTab header="Vehiculos" *ngIf="empleado.vehiculos">
                        <div class="card">
                            <div class="card-body" *ngFor="let vehiculo of empleado.vehiculos">
                                <span class="lstick"></span>  {{vehiculo.marca_nombre}}/{{vehiculo.vehiculo_placa}}

                                <table class="table vm font-14 m-b-0">
                                    <tbody>
                                        <tr *ngFor="let item of vehiculo.inspeccion" [ngClass]="{'table-success': item.inspeccion ==='Bueno','table-danger': item.inspeccion === 'Malo'}">
                                        <td>{{item.item}}</td>
                                        <td>{{item.nombre}}</td>
                                       
                                    </tr>
                                    
                                     
                                </tbody></table>
                            </div>
                           </div>
                    </p-accordionTab>
                </p-accordion>
             
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card fadeInDown animated" *ngIf="item.step_1">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Firmas permiso</h4>
                    </div>
                   
                </div>

                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd no-wrap pro-of-month">
                        
                            <tr *ngFor="let item of listFirmas"> 
                                <td>
                                    <h6>{{item.user}}</h6><small class="text-muted">{{item.email}}</small></td>
                                 
                                <td>
                                    <div class="" *ngIf="!item.firma; else firmado">
                                        <button pButton type="button" label="Firmar" (click)="beningFirmar(item)" *ngIf="item.id_user == _authService.usuario.id"></button>
                                        <span class="label label-warning label-rounded" *ngIf="item.id_user != _authService.usuario.id">Pendiente</span>
                                    </div>
                                    <ng-template #firmado>
                                        
                                        <span class="label label-success label-rounded">Firmado</span>
                   
                                    </ng-template>
                                </td>
                            </tr>
                             
                         
                    </table>
                </div>
                  
            </div>
        </div>
        <!--paso dos para firmar-->
        <div class="card  fadeInDown animated" *ngIf="item.step_2">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Validar Token</h4>
                    </div>
                  
                </div>

                <form   class="form-material m-t-40" [formGroup]="form"  (submit)="validarToken()">
                    <div class="form-group">
                      <span class="help-block text-muted"> <small >Revise su correo para validar el token</small></span>
                    </div>
                     
                    <div class="form-group"> 
                        <input type="text"  class="form-control" placeholder="Token" formControlName="token">
                        <span class="help-block text-muted"><small>{{timeLeftString}} , si no llego el token espera que finalice el tiempo y genera uno de nuevo</small></span>
                    
                    </div>
                    <div class="form-group">
                        <p-button label="validar" type="submit" icon="pi pi-qrcode" iconPos="right"  ></p-button>
                    </div>
                         
                </form>
            </div>
         </div>
         <!--paso tres-->
         <div class="card-fadeInDown animated" *ngIf="item.step_3">
            <div class="card-body bg-success">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">Permiso firmado</h1>
                        <h6 class="text-white">ha logrado firmar el permiso electrónicamente, espere hasta que la pantalla cambie</h6>
                         
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>