 
                <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary font-18" routerLink="/dashboard/permisoTrabajo"><i class="mdi mdi-arrow-left-bold"></i></button>
                
                </div> 
 

<div class="row">
    <div class="col-md-4">
        <span class="p-fluid">
            <p-message severity="info" text="{{permisosActivos.prefijo}} | {{permisosActivos.indicativo}}"></p-message>
        
         
        </span>
        
    </div>
    <div class="col-md-4">
        <span class="p-fluid"><p-message severity="success" text="{{permisosActivos.lugar_de_trabajo}}"></p-message> </span> 
    </div>
    <div class="col-md-4">
        <span class="p-fluid">
            <p-message severity="warn" text="{{permisosActivos.fecha_inicio}} | {{permisosActivos.hora_inicio}}"></p-message> 
        </span>
    </div>
</div>

<!--link's-->
            <div class="row">
                  <!--  <div class="col" *ngFor="let item of items">
                      <p-card>
                          <span class="p-fluid">
                              <button pButton type="button" label="{{item.label}}" icon="{{item.icon}}" class="p-button-lg" ng-class="{'disabled':true}" (click)="handleClick(item)"></button>
                          </span>
                      </p-card>
                      
                    </div> -->
                      <!--  <div class="col-lg-4 col-md-6 col-xlg-2 col-xs-12" *ngFor="let item of items">
                            <div class="ribbon-wrapper card">
                                <div class="ribbon ribbon-warning">{{item.label}}</div>
                             <p class="ribbon-content center">
                                
                            </p> 
                               <span class="p-fluid">
                                    <button pButton pRipple icon="{{item.icon}}" class="p-button-lg p-button-success"  >
                                            
                                    </button>
                                </span>  
                            </div>
                        </div> -->
                        <div class="col" *ngFor="let item of items">
                            
                                
                                <span class="p-fluid">
                                    <button class="p-button-text p-button-text" (click)="handleClick(item)" label="{{item.label}}" pButton pRipple type="button"><img [src]="item.url" alt=""  ></button>
                                </span>
                               
                            
                        </div>
                     <!-- <p-card  *ngFor="let item of items">
                            <a class="btn"><img [src]="item.url" alt="" width="64px" height="64px"></a>
                        </p-card>-->
                        
              </div>
                <!--end Link's-->
                 <!-- tab--> 
                  
                         <!--table permisos creados-->
                        <!-- <p-button icon="pi pi-plus-circle" (click)="addPermiso()" [hidden]="!sinPermisos" ></p-button> -->
                         <!--<p-fieldset *ngFor="let item of permisosActivos" legend="Permiso {{item.prefijo}}-{{item.indicativo}} / creado: {{item.fecha_inicio}}" [toggleable]="true"   >-->
                        <!--    <div class="card" *ngFor="let item of permisosActivos">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="p-fluid">
                                            <p-message severity="info" text="{{item.prefijo}} | {{item.indicativo}}"></p-message>
                                        
                                         
                                        </span>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <span class="p-fluid"><p-message severity="success" text="{{item.lugar_de_trabajo}}"></p-message> </span> 
                                    </div>
                                    <div class="col-md-4">
                                        <span class="p-fluid">
                                            <p-message severity="warn" text="{{item.fecha_inicio}} | {{item.hora_inicio}}"></p-message> 
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                      <div class="col" *ngFor="let item of items">
                                        <p-card>
                                            <span class="p-fluid">
                                                <button pButton type="button" label="{{item.label}}" icon="{{item.icon}}" class="p-button-lg" ng-class="{'disabled':true}" (click)="handleClick(item)"></button>
                                            </span>
                                        </p-card>
                                      </div>
                                </div>
                                
                            </div> -->
                             
                         




<!--Modal de carga-->
<div class="fondo-modal animated fadeIn fast" [class.oculto] = "!cargando">

</div>