 
                <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary font-18" routerLink="/dashboard/permisoTrabajo"><i class="mdi mdi-arrow-left-bold"></i></button>
                
                </div> 
 

<div class="row">
    <div class="col-md-4">
        <span class="p-fluid">
            <p-message severity="info" text="{{permisosActivos.prefijo}} | {{permisosActivos.indicativo}}"></p-message>
        
         
        </span>
        
    </div>
    <div class="col-md-4">
        <span class="p-fluid"><p-message severity="success" text="{{permisosActivos.lugar_de_trabajo}}"></p-message> </span> 
    </div>
    <div class="col-md-4">
        <span class="p-fluid">
            <p-message severity="warn" text="{{permisosActivos.fecha_inicio}} | {{permisosActivos.hora_inicio}}"></p-message> 
        </span>
    </div>
</div>

<!--link's-->
            <div class="row">
                  
                        <div class="col" *ngFor="let item of items">
                            
                                
                                <span class="p-fluid">
                                    <button class="p-button-text p-button-text" (click)="handleClick(item)" label="{{item.label}}" pButton pRipple type="button"><img [src]="item.url" alt=""  ></button>
                                </span>
                               
                            
                        </div> 
                        
              </div>
                 
                             
                         




<!--Modal de carga-->
<div class="fondo-modal animated fadeIn fast" [class.oculto] = "!cargando">

</div>