

.fast
{
    -webkit-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector .cursorp{
    cursor: pointer;
}

.w100{
    width: 100px;
}

.avatar{
    width: 50px;
    border-radius: 100%;
}

.cursor{
    cursor: pointer;
}

.fondo-modal{
    background-color:rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.oculto{
   display: none; 
}

.map-altura {
    height: 450px;
}

.status-enstock{
    background: #C8E6C9;
    color: #256029;
   
}
.status-bajostock{
    background: #FEEDAF;
    color: #8a5340;
   
}
.status-sinstock{
    background: #FFCDD2;
    color: #c63737;
}

.product-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}