<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="btn-group m-b-10 m-r-10" role="group" aria-label="Button group with nested dropdown">
                    
                    <button type="button" class="btn btn-secondary font-18"   ><i class="mdi mdi-plus-box"></i></button>
                     
                  
                </div>
                <ul class="list-unstyled mt-5">
                    <li class="d-flex align-items-start" *ngFor="let item of listObservaciones">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">{{item.user}}</h5>
                            <span class="badge bg-danger">{{item.created_at}}</span> 
                            {{item.observacion}} 
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-fluid">
                            <textarea rows="3" cols="30" pInputTextarea [autoResize]="true" [(ngModel)]="text"></textarea>
                          </div>
                          <div class="ml-auto">
                            <!--<button class="pull-right btn btn-circle btn-success" data-toggle="modal" data-target="#myModal"><i class="ti-plus"></i></button>-->
                            <button pButton pRipple icon="pi pi-send" class="pull-right p-button-rounded p-button-primary" [disabled]="!text.length" (click)="validar()"></button>
                            <button pButton pRipple icon="pi pi-image" class="p-button-rounded p-button-secondary" (click)="tomarFoto()"></button>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>


<video #videoElement></video>
<canvas #canvasElement></canvas>